@font-face {
    font-family: 'Inclusive Sans';
    src: url('InclusiveSans.ttf') format('truetype');
}
body {
    width: 99.8%;
    height: 98.9vh;
    overflow: hidden;
    color: var(--text);
    background-color: var(--base);
    font-family: "Inclusive Sans", sans-serif;
}
* {
    margin: 0px;
}
#mainContent {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1);
    width: calc(100% - 12px);
    height: calc(100% - 10px);
    border-radius: 30px;
    margin: 7px;
    margin-top: 5px;
    overflow: hidden;
}
.page {
    width: 95%;
    height: 90%;
    background-color: var(--baseHalfOpacity);
    position: absolute;
    left: 2.5%;
    top: 5%;
    border-radius: 30px;
    backdrop-filter: blur(8px);
    overflow-y: auto;
    padding-top: 5px;
}
.bg {
    background-image: url("bg.png");
    background-size: 3%;
    width: 103%;
    height: 103%;
    animation: slide 2s linear infinite;
    position: relative;
    left: 0px;
    top: 0px;
}
.centerText {
    text-align: center;
}
@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-3%, 0, 0);
    }
  }

.flex {
    margin-top: 3px;
    display: flex;
    width: 100%;
    height: calc(100% - 60px);
}
.halfWidthPanel {
    width: 50%;
    height: 100%;
}
.quarterWidthPanel {
    width: 25%;
    height: 100%;
}
.threeQuarterWidthPanel {
    width: 75%;
    height: 100%;
    margin-left: 10px;
    overflow-y: auto;
}
.quarterWidthPanel button {
    width: 100%;
    height: 10%;
}

button {
    background-color: transparent;
    border: 0;
    outline: none;
    color: var(--text);
    font-family: "Inclusive Sans", sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    background-color: var(--buttonBg);
    opacity: 1;
    z-index: -1;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover::before {
    width: 100%;
    opacity: 50%;
}
/* to firefox users: skill issue */
::-webkit-scrollbar {
    width: 10px;
}  
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--surface-0);
}
::-webkit-scrollbar-thumb {
    background: var(--surface-1); 
    border-radius: 10px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--surface-2); 
}

#car {
    position: absolute;
    opacity: 10%;
    left: 0;
    bottom: 0;
}